<%= simple_form_for bookmark, html: { class: "bookmark form" } do |f| %>
  <% if bookmark.errors.any? %>
    <div class="error-message">
      <%= bookmark.errors.full_messages.to_sentence.capitalize %>
    </div>
  <% end %>

  <%= f.input :url, input_html: { autofocus: true } %>
  <%= f.input :title %>
  <%= f.texarea :description %>
  <%= f.checkbox :is_private %>
  <%= f.checkbox :read_later %>

  <%= f.submit class: "btn btn--secondary" %>
<% end %>